<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="header">
                    <h4 class="title">Analysis:</h4>
                </div>
                <div class="content">
                    This is the analysis of the people migration during COVID-19 outbreak.
                    This is the analysis of the people migration during COVID-19 outbreak.
                    This is the analysis of the people migration during COVID-19 outbreak.This is the analysis of the people migration during COVID-19 outbreak.This is the analysis of the people migration during COVID-19 outbreak.This is the analysis of the people migration during COVID-19 outbreak.This is the analysis of the people migration during COVID-19 outbreak.This is the analysis of the people migration during COVID-19 outbreak.This is the analysis of the people migration during COVID-19 outbreak.
                    This is the analysis of the people migration during COVID-19 outbreak.
                </div>
            </div>
        </div>
    </div>
</div>
