<div class="main-content">
    <div class="container-fluid">
        <div class="row table-display">
            <div class="table-cell">
                <button class="btn btn-default btn-block" (click)="changeTab('Data1')">Data1</button>
            </div>
            <div class="table-cell">
                <button class="btn btn-default btn-block" (click)="changeTab('Data2')">Data2</button>
            </div>
        </div>
        <div [ngClass]="{'display-none' : !displayData1}" class="row">
            <div id="vizContainer" style="display: flex; justify-content: center"></div>
        </div>
        <div [ngClass]="{'display-none' : !displayData2}" class="row">
            <p>Data2</p>
        </div>
    </div>
</div>
